Django
django_compressor
django-mptt
django-pagedown
django-registration-redux
django-reversion
django-social-share
django-sortedm2m
django-impersonate
-e git://github.com/SchOJ/django-jet.git#egg=django-jet
lxml
Pygments
mistune
social-auth-app-django
pytz
django-statici18n
pika
ua-parser
pyyaml
jinja2
django_jinja
llist
requests
django-fernet-fields
pyotp
qrcode[pil]
pymysql
reversion
mysqlclient
django_select2
websocket-client
