// @import "vars";

$announcement_red: #ae0000;

.socialBtn {
    float: right;
}

.socialBtn i {
    display: inline;
    font-size: 1.9em;
}

.facebook-this, .tweet-this, .gplus-this {
    display: inline;
}

.tweet-this i {
    color: #55ACEE;
}

.facebook-this it {
    color: #133783;
}

.gplus-this i {
    color: #DD4B38;
}

.social {
    font-size: 1.3em;
    .icon {
        color: black;
    }
}

.ws-closed {
    position: sticky;
    top: 42px;
    background: $announcement_red;
    border-radius: 5px 5px 0 0;
    display: none;
}

.ws-closed a {
    display: block;
    padding: 7px 0;
    text-align: center;
    color: white;
    font-weight: 600;
}